body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#chat-container {
    margin: 20px auto;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#messages {
    min-height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #0eaec4;
}

input[type="text"] {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

button:last-of-type {
    margin-right: 0;
}
